.home{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homeHeader{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.home a{
    text-decoration: none;
    color: black;
}